
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "tooltips";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.link {
  cursor: pointer;
  &:hover {
    color: $primary;
  }
}

.beers,.bars {
    height: 70vh;
    overflow-y: auto;
}

.bars a.has-tooltip {
  cursor: help;
}

body {
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.vdp-datepicker__calendar {
  right: 0;
}

.text-large {
  font-size: 0.8em;
}